@charset "utf-8";


/* corporate-1 企业愿景 */
.vision .txt{width: 560px; padding: 0 128px; text-align: center; margin: 0 auto; color: #004b64; font-size: 20px; position: relative; }
.vision .txt::before,
.vision .txt::after{content: ""; display: inline-block; width: 96px; height: 187px; position: absolute; top: 38px; }
.vision .txt::before{background: url(../img/corporate/vision_l.png) 0 0 no-repeat; left: 0; }
.vision .txt::after{background: url(../img/corporate/vision_r.png) 0 0 no-repeat; right: 0; }
.vision .txt .title{font-weight: bold; }
.vision .pic{margin-top: -110px; position: relative; z-index: -1; }
























